.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  color: #c9d1d9;
  display: flex;
  flex-direction: column;
}

.settings-background {
  padding-top: 88px;
  background-color: #0d1117;
  min-height: 100vh;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.profile-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.form-section {
  flex: 1;
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.form-field label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

input,
select,
textarea {
  padding: 0.5rem;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 4px;
  color: #c9d1d9;
  font-size: 0.95rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #58a6ff;
}
.Btn {
  margin-top: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #151922;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  transition-duration: 0.3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: 0.3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px white;
}
